site_name: RewardsX
site_url: https://docs.rewardsx.net/
copyright: Copyright &copy; 2025 RewardsX
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - content.code.annotate
    - content.code.copy
    - search.suggest
    - search.highlight  
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: orange
      accent: orange

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
      primary: orange
      accent: orange

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
